configuration {
    font: "Hack Nerd Font 12";

    modi: "drun";
    show-icons: true;
    display-drun: " Apps";
}

@import "~/.cache/wal/colors-rofi-dark.rasi"
@import "~/.config/rofi/themes/wal-dark-rounded.rasi"