spawn-at-startup "swaybg" "-i" "/home/milosz/wallpapers/fog.jpg"
spawn-at-startup "swaync"
spawn-at-startup "waybar"
layout {
    gaps 16
    center-focused-column "always"
    default-column-width {
        proportion 0.7
    }
}
input {
    touchpad {
        tap
        natural-scroll
    }
}
binds {
    Mod+Z {
        spawn "ghostty"
    }
    Mod+R {
        spawn "fuzzel"
    }
    Mod+B {
        spawn "brave"
    }
    Mod+A {
        spawn "gedit"
    }
    Mod+S {
        spawn "obsidian"
    }
    Mod+Shift+B {
        spawn "pkill" "-USR1" "waybar"
    }
    Mod+Ctrl+Q {
        quit
    }
    Mod+Alt+L {
        spawn "swaylock" "-f" "-c" "000000"
    }
    XF86MonBrightnessUp allow-when-locked=true {
        spawn "brightnessctl" "set" "5%+"
    }
    XF86MonBrightnessDown allow-when-locked=true {
        spawn "brightnessctl" "set" "5%-"
    }
    XF86AudioRaiseVolume allow-when-locked=true {
        spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "2%+"
    }
    XF86AudioLowerVolume allow-when-locked=true {
        spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "2%-"
    }
    XF86AudioMute allow-when-locked=true {
        spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"
    }
    Alt+XF86AudioRaiseVolume allow-when-locked=true {
        spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SOURCE@" "2%+"
    }
    Alt+XF86AudioLowerVolume allow-when-locked=true {
        spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SOURCE@" "2%-"
    }
    XF86AudioMicMute allow-when-locked=true {
        spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"
    }
    Mod+Ctrl+N allow-when-locked=true {
        spawn "playerctl" "next"
    }
    Mod+Ctrl+B allow-when-locked=true {
        spawn "playerctl" "previous"
    }
    Mod+Ctrl+P allow-when-locked=true {
        spawn "playerctl" "play-pause"
    }
    Print {
        spawn "flameshot" "gui"
    }
    Alt+Print {
        spawn "flameshot" "screen"
    }
    Ctrl+Print {
        spawn "flameshot" "full"
    }
    Mod+H {
        focus-column-left
    }
    Mod+L {
        focus-column-right
    }
    Mod+J {
        focus-window-down
    }
    Mod+K {
        focus-window-up
    }
    Mod+Left {
        focus-column-left
    }
    Mod+Right {
        focus-column-right
    }
    Mod+Down {
        focus-window-down
    }
    Mod+Up {
        focus-window-up
    }
    Mod+Shift+H {
        move-column-left
    }
    Mod+Shift+L {
        move-column-right
    }
    Mod+Shift+J {
        move-window-down
    }
    Mod+Shift+K {
        move-window-up
    }
    Mod+Shift+Left {
        move-column-left
    }
    Mod+Shift+Right {
        move-column-right
    }
    Mod+Shift+Down {
        move-window-down
    }
    Mod+Shift+Up {
        move-window-up
    }
    Mod+Ctrl+H {
        set-column-width "-5%"
    }
    Mod+Ctrl+L {
        set-column-width "+5%"
    }
    Mod+Ctrl+J {
        set-window-height "+5%"
    }
    Mod+Ctrl+K {
        set-window-height "-5%"
    }
    Mod+Ctrl+Left {
        set-column-width "-5%"
    }
    Mod+Ctrl+Right {
        set-column-width "+5%"
    }
    Mod+Ctrl+Down {
        set-window-height "+5%"
    }
    Mod+Ctrl+Up {
        set-window-height "-5%"
    }
    Mod+N {
        reset-window-height
    }
    Mod+W {
        switch-preset-column-width
    }
    Mod+X {
        close-window
    }
    Mod+F {
        fullscreen-window
    }
    Mod+M {
        maximize-column
    }
    Mod+C {
        consume-window-into-column
    }
    Mod+E {
        expel-window-from-column
    }
    Mod+1 {
        focus-workspace 1
    }
    Mod+2 {
        focus-workspace 2
    }
    Mod+3 {
        focus-workspace 3
    }
    Mod+4 {
        focus-workspace 4
    }
    Mod+5 {
        focus-workspace 5
    }
    Mod+6 {
        focus-workspace 6
    }
    Mod+7 {
        focus-workspace 7
    }
    Mod+8 {
        focus-workspace 8
    }
    Mod+9 {
        focus-workspace 9
    }
    Mod+Shift+1 {
        move-column-to-workspace 1
    }
    Mod+Shift+2 {
        move-column-to-workspace 2
    }
    Mod+Shift+3 {
        move-column-to-workspace 3
    }
    Mod+Shift+4 {
        move-column-to-workspace 4
    }
    Mod+Shift+5 {
        move-column-to-workspace 5
    }
    Mod+Shift+6 {
        move-column-to-workspace 6
    }
    Mod+Shift+7 {
        move-column-to-workspace 7
    }
    Mod+Shift+8 {
        move-column-to-workspace 8
    }
    Mod+Shift+9 {
        move-column-to-workspace 9
    }
}

